<p id="notice"><%= notice %></p>

<center>  <!-- giving some of centered style here -->
	<p>
	  <strong>Title:</strong>
	  <%= @track.title %>
	</p>

	<p>
	  <strong>Album:</strong>
	  <%= @track.album %>
	</p>

	<p>
	  <strong>Artist:</strong>
	  <%= @track.artist %>
	</p>
</center>

<div align='center'>	<!-- another way to center this elements.... -->
	<%= link_to 'Edit', edit_track_path(@track) %> |
	<%= link_to 'Back', tracks_path %>
</div>
